:root {
    --todos-pad: 1rem;
}

[data-todos] {
    border: 1px solid #000;

    h2 {
        margin: 0;
        margin-inline: var(--todos-pad);
        padding-block: var(--todos-pad);
        border-bottom: 1px solid #000;
    }
    ol {
        margin-block-start: 0;
        padding-inline: var(--todos-pad);
        list-style-type: none;
        li {
            &:where(:not(:has(> form))) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #000;
                div {
                    display: flex;
                    gap: 0.5rem;
                    button {
                        height: fit-content;
                    }
                }
            }
            &:where(:has(> form)) {
                form {
                    padding-block: var(--todos-pad);
                    margin: 0;
                    height: full;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #000;
                    div {
                        display: flex;
                        gap: 0.5rem;
                        button {
                            height: fit-content;
                        }
                    }
                }
            }
        }
    }
    > form {
        padding-inline: var(--todos-pad);
        padding-block-end: var(--todos-pad);
    }
}
